/*MOBILE*/
header{position: sticky;
    top: 0%;}
    .navbar-collapse{flex-grow: inherit;}  
    .navbar-dark .navbar-nav .nav-link{color:white;}
    .navbar-dark .navbar-nav .nav-link:hover{color:blue; background-color: white;
    ;}
    
    /*menu de hamburguesa*/
    .navbar-dark .navbar-toggler{color: blue ;
    border-color:blue;}
    /*GRID QUE ORGANIZA EL LAYOUT DEL MAIN*/
    .main{display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;}
    
    .navbar-collapse{flex-grow: inherit;}  
    /*Flex/grid para organizar los elementos dentro de las celdas grid*/
    
    
    
            

    
    /*Background main*/
    .gradiantes{background-image:linear-gradient(black, white);}
    
    /*Baground footer*/
    .footermio{background-image: url(../images/nuevasimagenes/imgfooterr.jpg);
    background-position: center;
    background-size: cover;}
    
    
    
    .imglogonav{width: 70px;
    border-radius: 15px;
    border-color: black;
    margin-left: 10px;
    margin-right: 1%;}
    
    
    
    
    
    /*Boxmodeling/tipografia main*/
    
    
    .h1index{  font-family: 'Kanit', sans-serif;
        font-family: 'Permanent Marker', cursive;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 10px;
    color:rgb(2, 4, 81) ;
    }
    
    /*sponsors*/
    .h2index{font-family: 'Kanit', sans-serif;
        font-family: 'Permanent Marker', cursive;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 10px;
    color:rgb(2, 4, 81)}

    .sponsors{width: 100%;}
    
    
    
    /*Boxmodeling footer*/
    .footermio{display: flex;
    justify-content: space-between;
color: white;
text-transform: uppercase;}
    .logofooter{width: 50px;}
    
    
    
    /*MEDIAQUARY TABLET*/
    @media (min-width:769px) and (max-width:1199px){
                
                /*Baground footer*/
                .footer{background-image: url(../images/nuevasimagenes/imgfooterr.jpg);
                background-position: center;
                background-size: cover;}
            }
    
    
    
    
    
    
    
    
    
    
    
    /*MEDIAQUARY PC*/
    @media (min-width:1200px){
    
    
    /*Flex/grid para organizar los elementos dentro de las celdas grid*/
    
    
    .proximascarreras{display: flex;
    flex-direction: row-reverse;
    align-content:center;
    justify-content: space-around;} 
    
    .sponsors{display: flex;
            align-items: center;
            justify-content: center;}

            .logofooter{width: 100px;
            height: 60px;}
        }
    /*imagen de fondo del header*/
    
    /*texto del nav*/
    
    /*logo del nav*/
    
    
    /*MAIN*/
    
