@import"utilities/variables"  ;
.divinscripciones{
    background-color: $negro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  &  .h2inscripciones{
    color:$color100x100to;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size:xx-large;}

    
   & .imginscripciones{width: 100%;}
    
    

    .textosec_inscripciones{
        text-align:center;
        color:$color100x100to;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
        font-size: 1.3rem;}
    }
        
.divinscripciones2{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imginscripciones2{width: 80%;
        object-fit: cover;
    }
    
    .textosec_inscripciones2{ 
        background-color: $gristransparente;
        text-align: center;
        text-transform: uppercase; 
    font-family: 'Rubik Dirt', cursive;
    color: orange;}
    
    }
    .divinscripciones3{
        .imginscripciones3{width:100%}
        .textosec_inscripciones3{background-color: $blanco;
        text-align: center;}}


