@media (min-width:576px) and (max-width:991px)
{.textosec_inscripciones3{font-size: 150%;
color:rgb(2, 211, 2) ;
text-transform:uppercase;
font-weight: 900;}

}

@media(min-width:992px)
{.divinscripciones{}}