.slider{width: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: index -1;;}
    .main{display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;}
    .h1index
        {  font-family: 'Kanit', sans-serif;
            font-family: 'Permanent Marker', cursive;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: 10px;
        color:rgb(2, 4, 81) ;
        }
        .h2index
        {font-family: 'Kanit', sans-serif;
        font-family: 'Permanent Marker', cursive;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 10px;}
        .sponsors{width: 100%;}