@import "utilities/variables";
.main_nosotros{
    background-image: url(../images/bkg/background_nosotros.jpg);
    background-size:cover;
    background-position: center;

.nosotros_texto_div1{
    display: flex;
    flex-direction: column;

    & .encabezado_nosotros1{
        font-family: $letraencabezado1;
        color: beige;
        text-align: center;
        background-color: $grisoscurotransparente;
        margin: 20% 2% 5% 2%;
    }

    .nosotros_texto_p1{
        background-color: $grisclarotransparente;
        font-family: $letratxt1;
        color: rgb(5, 5, 79);
        text-align: center;
        margin-bottom: 0%;
    }

    & .lista_nosotros{
        background-color: $grisclarotransparente;
        
        margin: 0%;
        font-family: $letraencabezado2;
        color: rgb(21, 0, 255);
            
            .nosotros_list_item{
            text-decoration: none;
            color: rgb(55, 0, 55);}
    }

    .nosotros_texto_p3{ background-color: $grisclarotransparente;
        font-family: $letratxt1;
        color: rgb(5, 5, 79);
        text-align: center;
        margin-bottom: 10%;

    }
    }
}