@media (min-width: 576px) and(max-width: 991px){}
@media (min-width: 992px) {

.gridgaleria{display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows:auto;
gap: 5px;
}
.galeriaimg{width: 100%;
height: 100%;
object-fit: cover;
margin-right: 10px;}}